services:
    bot:
        build: .
        env_file:
            - path: .env
              required: false
        depends_on:
            neo4j:
                condition: service_healthy
        restart: unless-stopped

    neo4j:
        image: neo4j:5
        ports:
            - "7474:7474"
            - "7687:7687"
        environment:
            NEO4J_AUTH: neo4j/password
        volumes:
            - neo4j_data:/data
        healthcheck:
            test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:7474 || exit 1"]
            interval: 10s
            timeout: 5s
            retries: 5

volumes:
    neo4j_data:
